[Unit]
Description=Xss-lock handles requests for activating a screen saver and suspends
Documentation=man:xss-lock(1)
After=display-manager.service

[Service]
ExecStart=/usr/bin/xss-lock -v -n "notify-send -u critical -t 10000 -- 'Screen saver imminent.'" -- {{ locker_command }}
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
