[Unit]
Description=Dunst notification manager
Documentation=man:dunst(1)
After=display-manager.service

[Service]
# Better not use BusName because then dbus.service runs the dunst binary
# by itself and handling this service file does not work at all.
#BusName=org.freedesktop.Notifications
ExecStart=/usr/bin/dunst
Restart=always
RestartSec=3

[Install]
WantedBy=default.target

