[Desktop Entry]
Type=Application
Name=Spotify (--url handler)
Icon=spotify
TryExec=spotify
Exec=spotify --url=%U
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify
